<mat-button-toggle-group>
  <mat-button-toggle (click)="pickGroup(0)">1</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(1)">2</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(2)">3</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(3)">4</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(4)">5</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(5)">6</mat-button-toggle>
</mat-button-toggle-group>

<div class="settings"></div>

<mat-list>
  <mat-list-item *ngFor="let item of words$ | async">
    <mat-icon mat-list-icon>volume_up</mat-icon>
    <button mat-icon-button (click)="restore(item)">
      <mat-icon>restore_from_trash</mat-icon>
    </button>
    <img
      matListAvatar
      src="https://dispet.github.io/rslang-data/{{ item.image }}"
      alt="{{ item.word }}"
    />
    <p matLine>
      <span style="flex-grow: 1">
        {{ item.word }}
      </span>
      <span>{{ item.transcription }}</span> -
      <span>{{ item.wordTranslate }}</span>
    </p>
    <p matLine>
      <span>{{ item.textMeaning }}</span> -
      <span>{{ item.textMeaningTranslate }}</span>
    </p>
    <p matLine>
      <span>{{ item.textExample }}</span> -
      <span>{{ item.textExampleTranslate }}</span>
    </p>
    <p matLine>
      {{ item.learningResults }}
    </p>
  </mat-list-item>
</mat-list>

<aside>
  <a href="">Саванна</a>
  <a href="">Аудиовызов</a>
  <a href="">Спринт</a>
  <a href="">Своя игра</a>
</aside>

<mat-button-toggle-group>
  <mat-button-toggle (click)="firstPage()"><<</mat-button-toggle>
  <mat-button-toggle (click)="prevPage()"><</mat-button-toggle>
  <div class="current-page" *ngIf="pagination$ | async as pagination">
    {{ pagination.page + 1 }}
  </div>
  <mat-button-toggle (click)="nextPage()">></mat-button-toggle>
  <mat-button-toggle (click)="lastPage()">>></mat-button-toggle>
</mat-button-toggle-group>
