<mat-button-toggle-group>
  <mat-button-toggle (click)="pickGroup(0)">1</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(1)">2</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(2)">3</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(3)">4</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(4)">5</mat-button-toggle>
  <mat-button-toggle (click)="pickGroup(5)">6</mat-button-toggle>
</mat-button-toggle-group>

<button class="settings" mat-icon-button routerLink="settings">
  <mat-icon mat-list-icon>settings</mat-icon>
</button>

<button type="button" mat-button (click)="drawer.toggle()">Choose game</button>

<mat-drawer-container>
  <mat-drawer #drawer position="end">
    <!-- <a href=""Саванна></a>
    <a href="">Аудиовызов</a>
    <a href="">Спринт</a>
    <a href="">Своя игра</a> -->
    <mat-button-toggle-group vertical>
      <mat-button-toggle>Саванна</mat-button-toggle>
      <mat-button-toggle>Аудиовызов</mat-button-toggle>
      <mat-button-toggle>Спринт</mat-button-toggle>
      <mat-button-toggle>Своя игра</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>

  <ul>
    <li *ngFor="let item of words$ | async" class="list-item">
      <div class="list-item-container">
        <div class="item-image">
          <img
            src="https://dispet.github.io/rslang-data/{{ item.image }}"
            alt="{{ item.word }}"
          />
        </div>
        <div class="item-content">
          <div class="item-title">
            <p>
              <span style="flex-grow: 1">
                {{ item.word }}
              </span>
              -
              <span>{{ item.wordTranslate }}</span>
            </p>
          </div>
          <div class="item-subtitle">
            <p>
              <span>{{ item.transcription }}</span>
            </p>
          </div>
          <div class="item-description">
            <p>
              <span [innerHTML]="item.textMeaning"></span> -
              <span>{{ item.textMeaningTranslate }}</span>
            </p>
            <p>
              <span [innerHTML]="item.textExample"></span>
              -
              <span style="word-wrap: break-word; width: 100%">{{
                item.textExampleTranslate
              }}</span>
            </p>
            <p>
              {{ item.learningResults }}
            </p>
          </div>
        </div>

        <div class="item-controls">
          <button mat-icon-button>
            <mat-icon mat-list-icon>volume_up</mat-icon>
          </button>
          <button mat-icon-button (click)="console.log('add to difficult')">
            <mat-icon>new_label</mat-icon>
          </button>
          <button mat-icon-button (click)="console.log('add to difficult')">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </li>
  </ul>
  <!-- <mat-list>
    <mat-list-item *ngFor="let item of words$ | async">
      <mat-card>
        <img
          mat-card-iamge
          src="https://dispet.github.io/rslang-data/{{ item.image }}"
          alt="{{ item.word }}"
        />
        <mat-card-content>
          <mat-card-title>
            <p>
              <span style="flex-grow: 1">
                {{ item.word }}
              </span>
              -
              <span>{{ item.wordTranslate }}</span>
            </p>
          </mat-card-title>
          <mat-card-subtitle>
            <p>
              <span>{{ item.transcription }}</span>
            </p>
          </mat-card-subtitle>
          <p>
            <span [innerHTML]="item.textMeaning"></span> -
            <span>{{ item.textMeaningTranslate }}</span>
          </p>
          <p>
            <span [innerHTML]="item.textExample"></span>
            -
            <span style="word-wrap: break-word; width: 100%">{{
              item.textExampleTranslate
            }}</span>
          </p>
          <p>
            {{ item.learningResults }}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon mat-list-icon>volume_up</mat-icon>
          </button>
          <button mat-icon-button (click)="console.log('add to difficult')">
            <mat-icon>new_label</mat-icon>
          </button>
          <button mat-icon-button (click)="console.log('add to difficult')">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
        <mat-divider></mat-divider>
      </mat-card>
    </mat-list-item>
  </mat-list> -->

  <mat-button-toggle-group>
    <mat-button-toggle (click)="firstPage()">
      <mat-icon mat-list-icon>first_page</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle (click)="prevPage()">
      <mat-icon mat-list-icon>chevron_left</mat-icon>
    </mat-button-toggle>

    <div class="current-page" *ngIf="pagination$ | async as pagination">
      <b>{{ pagination.page + 1 }} / 30</b>
    </div>

    <mat-button-toggle (click)="nextPage()">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle (click)="lastPage()">
      <mat-icon mat-list-icon>last_page</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-drawer-container>

<app-footer></app-footer>
