mat-toolbar {
  height: auto;

  .logo {
    display: inline;
    margin-right: 1rem;
  }

  mat-nav-list {
    display: flex;
    flex-direction: row;
  }

  mat-list-item {
    word-wrap: normal;
  }
}

@media screen and (max-width: 650px) {
  mat-toolbar {
    mat-nav-list {
      // flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
