.text-book {
  height: 84%;
  display: flex;
  justify-content: center;

  mat-card {
    align-self: center;
    max-width: 20rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;

    &-header {
      align-self: center;
    }

    img {
      max-height: 10rem;
    }

    &-actions {
      display: flex;
      justify-content: center;
    }
  }
  mat-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
