<div class="text-book">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Каталог слов</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/icons/words-list.svg" alt="Каталог слов" />
    <mat-card-actions>
      <button mat-button routerLink="/words-list">Открыть</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Словарь</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/icons/dictionary.svg" alt="Словарь" />
    <mat-card-actions>
      <button mat-button routerLink="/dictionary">Открыть</button>
    </mat-card-actions>
  </mat-card>
</div>
