{
  "printWidth": 140,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
