<div class="about-us">
  <div class="cards">
    <mat-card>
      <mat-card-title>Павел</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
      <img mat-card-image src="../../assets/icons/question.svg" alt="" />
      <mat-card-subtitle>Тим-лид. Роутинг, регистрация...</mat-card-subtitle>
      <a href="https://github.com/BustterBrot777">
        <img src="./../../assets/icons/GitHub_Logo.png" alt="github" />
      </a>
    </mat-card>

    <mat-card>
      <mat-card-title>Сергей</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
      <img mat-card-image src="../../assets/icons/question.svg" alt="" />
      <mat-card-subtitle>Бэкенд, регистрация...</mat-card-subtitle>
      <a href="https://github.com/dispet">
        <img src="./../../assets/icons/GitHub_Logo.png" alt="github" />
      </a>
    </mat-card>

    <mat-card>
      <mat-card-title>Улугбек</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
      <img mat-card-image src="../../assets/icons/question.svg" alt="" />
      <mat-card-subtitle>Саванна, статистика...</mat-card-subtitle>
      <a href="https://github.com/ErgashevUlugbek">
        <img src="./../../assets/icons/GitHub_Logo.png" alt="github" />
      </a>
    </mat-card>

    <mat-card>
      <mat-card-title>Виталик</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
      <img mat-card-image src="../../assets/icons/question.svg" alt="" />
      <mat-card-subtitle>Домашняя страница, словарь...</mat-card-subtitle>
      <a href="https://github.com/vitalibury">
        <img src="./../../assets/icons/GitHub_Logo.png" alt="github" />
      </a>
    </mat-card>
  </div>
</div>
