<app-header></app-header>

<div class="main-container">
	<form [formGroup]="form" (ngSubmit)="submit()" class="card">
		<h2>Registration</h2>

		<!--  <div class="alert alert-danger"-->
		<!--       *ngIf="auth.error$ | async as error"-->
		<!--  >{{error}}</div>-->

		<div [ngClass]="{ invalid: form.get('email').touched && form.get('email').invalid }" class="form-control">
			<label for="email">Почта</label>
			<input id="email" type="email" formControlName="email" />
		</div>

		<div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
			<small *ngIf="form.get('email').errors.required"> Поле "Почта" обязательно </small>
			<small *ngIf="form.get('email').errors.email"> Введите поле "Почта" в формате email@email.com </small>
		</div>

		<div [ngClass]="{ invalid: form.get('password').touched && form.get('password').invalid }" class="form-control">
			<label for="password">Пароль</label>
			<input id="password" type="password" formControlName="password" />
		</div>

		<div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
			<small *ngIf="form.get('password').errors.required"> Поле "Пароль" обязательно </small><br />
			<small *ngIf="form.get('password').errors.minlength">
				Пароль должен быть длинной в
				{{ form.get("password").errors.minlength.requiredLength }} символов. Сейчас длина пароля составляет
				{{ form.get("password").errors.minlength.actualLength }} символов </small
			><br />
			<small *ngIf="form.get('password').errors.passFormat">
				Максимум 10000 символов, как минимум одна большая латинская буква, одна маленькая, одна цифра и один спецсимвол
				<pre><code>-+_@$!%*?&amp;#.,;:</code></pre>
			</small>
		</div>
		<div *ngIf="form.get('formatPassword')"></div>

		<div [ngClass]="{ invalid: form.get('confirmPassword').touched && form.get('confirmPassword').invalid }" class="form-control">
			<label for="password">Повторите пароль</label>
			<input id="confirmPassword" type="password" formControlName="confirmPassword" />
		</div>

		<div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid" class="validation">
			<small *ngIf="form.get('confirmPassword').errors.required"> Password confirmation is required </small>
			<small *ngIf="!form.get('confirmPassword').errors.passwordConfirmation"> Password must be the same </small>
		</div>

		<button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Register</button>
	</form>
</div>

<app-footer></app-footer>
