<app-header></app-header>

<div class="main-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="card">
    <h2>Registration</h2>

    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Email адрес" formControlName="email" required />
        <div class="errors-container" *ngIf="form.get('email').touched && form.get('email').invalid">
          <mat-error *ngIf="form.get('email').hasError('required')"> Поле "Почта" обязательно </mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')"> Введите поле "Почта" в формате email@email.com </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Новый пароль" [type]="hide ? 'password' : 'text'" formControlName="password" required />
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility" : "visibility_off" }}</mat-icon>

        <div class="errors-container" *ngIf="form.get('password').touched && form.get('password').invalid">
          <mat-error *ngIf="form.get('password').hasError('required')"> Поле "Пароль" обязательно </mat-error>

          <mat-error *ngIf="form.get('password').hasError('minlength')">
            Пароль должен быть длинной в
            {{ form.get("password").errors.minlength.requiredLength }} символов. Сейчас длина пароля составляет
            {{ form.get("password").errors.minlength.actualLength }} символов
          </mat-error>

          <mat-error *ngIf="form.get('password').hasError('passFormat')">
            Максимум 10000 символов, как минимум одна большая латинская буква, одна маленькая, одна цифра и один спецсимвол
            <pre><code>-+_@$!%*?&amp;#.,;:</code></pre>
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Повторите пароль" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required />
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility" : "visibility_off" }}</mat-icon>

        <div class="errors-container" *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid">
          <mat-error *ngIf="form.get('confirmPassword').hasError('required')"> Подтвердить пароль обязательно </mat-error>

          <mat-error *ngIf="form.get('confirmPassword').hasError('mismatch')"> Пароли должны совпадать </mat-error>
        </div>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Register</button>
  </form>
</div>

<app-footer></app-footer>
