<app-header></app-header>
<div class="mini-games">
  <div class="game-cards">
    <mat-card *ngFor="let game of gameNames">
      <mat-card-header>
        <mat-card-title>{{ game[1] }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/icons/{{ game[0] }}.svg" alt="{{ game[1] }}" />
      <mat-card-actions>
        <button mat-button routerLink="{{ game[0] }}">Играть</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
