<div class="mini-games">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Саванна</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/icons/savannah.svg" alt="Саванна" />
    <mat-card-actions>
      <button mat-button routerLink="savannah">Играть</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Аудиовызов</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/icons/audio-call.svg"
      alt="Аудиовызов"
    />
    <mat-card-actions>
      <button mat-button routerLink="audio-call">Играть</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Спринт</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/icons/timer.svg" alt="Спринт" />
    <mat-card-actions>
      <button mat-button routerLink="sprint">Играть</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Своя игра</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/icons/question.svg" alt="Своя игра" />
    <mat-card-actions>
      <button mat-button routerLink="my-own-game">Играть</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-footer></app-footer>
