.mini-games {
  height: 84%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-card {
    align-self: center;
    max-width: 20rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    &-header {
      align-self: center;
    }

    img {
      max-height: 10rem;
    }

    &-actions {
      display: flex;
      justify-content: center;
    }
  }
  mat-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media screen and (max-width: 800px) {
  .mini-games {
    height: unset;
    min-height: 84%;
    flex-direction: column;
  }
}
