<div>
  <img src="{{ url }}/{{ word.image }}" alt="{{ word.word }}" />
  <button mat-icon-button (click)="playAudio(word.audio)">
    <mat-icon mat-list-icon>volume_up</mat-icon>
  </button>
  <span [ngClass]="isCorrect === 1 ? 'green' : 'red'">{{ correctAnswer }}</span>
  <hr />
  <p>
    <span [innerHTML]="word.wordTranslate"></span>
  </p>
  <hr />
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Написание</mat-label>
      <input matInput #answer id="answer" name="answer" />
      <mat-hint align="start"><strong>Напишите слово по-английски</strong> </mat-hint>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" [disabled]="isAnswerButtonDisable" (click)="sendResult(answer.value)">Проверить</button>
</div>
