<app-header></app-header>
<div class="mini-games">
  <div class="game-cards">
    <mat-card>
      <img mat-card-image src="../../assets/icons/level_1.svg" alt="Уровень 1" />
      <mat-card-actions>
        <button mat-button [routerLink]="['/mini-games', 'audio-call', '1']">Выбрать</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/icons/level_2.svg" alt="Уровень 2" />
      <mat-card-actions>
        <button mat-button [routerLink]="['/mini-games', 'audio-call', '2']">Выбрать</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/icons/level_3.svg" alt="Уровень 3" />
      <mat-card-actions>
        <button mat-button [routerLink]="['/mini-games', 'audio-call', '3']">Выбрать</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/icons/level_4.svg" alt="Уровень 4" />
      <mat-card-actions>
        <button mat-button [routerLink]="['/mini-games', 'audio-call', '4']">Выбрать</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/icons/level_5.svg" alt="Уровень 5" />
      <mat-card-actions>
        <button mat-button [routerLink]="['/mini-games', 'audio-call', '5']">Выбрать</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="../../assets/icons/level_6.svg" alt="Уровень 6" />
      <mat-card-actions>
        <button mat-button [routerLink]="['/mini-games', 'audio-call', '6']">Выбрать</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
