<app-header></app-header>
<div *ngIf="words; else loading">
  <mat-tab-group dynamicHeight backgroundColor="primary">
    <mat-tab label="{{ i + 1 }}" *ngFor="let word of words; let i = index">
      <div class="example-large-box mat-elevation-z4">
        <app-item-type-me [word]="word" (answer)="getAnswer($event)"></app-item-type-me>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div>
    <h3>Результат: {{ resultCounter }} / {{ MAX_WORDS_COUNT }}</h3>
  </div>
</div>
<button *ngIf="answersCounter === MAX_WORDS_COUNT" mat-raised-button color="primary" (click)="sendDate()">Сохранить результат</button>
<ng-template #loading>Слова не загрузились</ng-template>
