footer {
  width: 100%;
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);

  .app-links {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: black;
    }

    .rs-school {
      img {
        width: 100px;
      }
    }
  }

  .release-date {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  footer {
    height: unset;

    .app-links {
      justify-content: center;
      align-items: center;
    }
  }
}
