<footer>
  <div class="app-links">
    <a href="https://github.com/BustterBrot777">
      <button mat-button>
        <img src="../../../../assets/icons/GitHub-Mark-32px.png" alt="github" />
        Павел
      </button>
    </a>
    <a href="https://github.com/BustterBrot777">
      <button mat-button>
        <img src="../../../../assets/icons/GitHub-Mark-32px.png" alt="github" />
        Павел
      </button>
    </a>
    <a href="https://github.com/dispet">
      <button mat-button>
        <img src="../../../../assets/icons/GitHub-Mark-32px.png" alt="github" />
        Сергей
      </button>
    </a>
    <a href="https://github.com/ErgashevUlugbek">
      <button mat-button>
        <img src="../../../../assets/icons/GitHub-Mark-32px.png" alt="github" />
        Улугбек
      </button>
    </a>
    <a href="https://github.com/Zhyka">
      <button mat-button>
        <img src="../../../../assets/icons/GitHub-Mark-32px.png" alt="github" />
        Наталья
      </button>
    </a>
    <a href="https://github.com/vitalibury">
      <button mat-button>
        <img src="../../../../assets/icons/GitHub-Mark-32px.png" alt="github" />
        Виталик
      </button>
    </a>
    <a class="rs-school" href="https://rs.school/angular/" routerLink="https://rollingscopes.com/">
      <img src="../../../../assets/icons/rs_school_js.svg" alt="RS School" />
    </a>
  </div>
  <div class="release-date">©2021</div>
</footer>
