<div class="savanna-game" [ngStyle]="backgroundPositionY">
	<app-game-first-modal (passGameLevel)="beginTheGame($event)"></app-game-first-modal>
	<div class="savanna-wrapper" [ngStyle]="savannaWrapperHeight">
		<div class="control">
			<div class="hearts" *ngFor="let heart of this.game.heartsCount">
				<div class="heart" [@flyTopDown]="'top'">
					<mat-icon>favorite</mat-icon>
				</div>
			</div>
			<div class="exit">
				<button><a routerLink="../../mini-games">&times;</a></button>
			</div>
		</div>
		<app-savanna-child
			*ngIf="!isGameEnd && isGameBegin && isResponseReached"
			(passAnswer)="recieveAnswer($event)"
			(isGameEnd)="gameEnd($event)"
			[heartsCount]="game.heartsCount.length"
			[responseWordsArray]="responseWordsArray"
		></app-savanna-child>
	</div>
	<app-game-results-modal [gameData]="game"></app-game-results-modal>
</div>
