<div class="savanna-game" [ngStyle]="backgroundPositionY">
	<div class="first-modal modal-active">
		<div class="modal-window">
			<h1>Hi welcome to the Savanna game.</h1>
			<p>You can choose answer with 1, 2, 3, and 4 on your keyboard.</p>
			<p>Please choose group:</p>
			<div class="choose-difficulty-level" *ngFor="let group of difficultyGroups">
				<button (click)="beginTheGame($event)">{{ group }}</button>
			</div>
		</div>
	</div>
	<div class="savanna-wrapper" [ngStyle]="savannaWrapperHeight">
		<div class="control">
			<div class="hearts" *ngFor="let heart of this.game.heartsCount">
				<div class="heart" [@flyTopDown]="'top'">
					<mat-icon>favorite</mat-icon>
				</div>
			</div>
			<div class="exit"><button>&times;</button></div>
		</div>
		<app-savanna-child
			*ngIf="!isGameEnd && isGameBegin && isResponseReached"
			(passAnswer)="recieveAnswer($event)"
			(isGameEnd)="gameEnd($event)"
			[heartsCount]="game.heartsCount.length"
			[responseWordsArray]="responseWordsArray"
		></app-savanna-child>
	</div>
	<div class="results-modal">
		<div class="modal-window">
			<div class="modal-content">
				<div>correct answers: {{ this.game.correctAnswers.length }}</div>
				<div class="correct-answers" *ngFor="let answer of this.game.correctAnswers; let i = index">
					<div class="single-answer">
						<audio class="audioC{{ i }}" src="https://dispet.github.io/rslang-data/{{ this.game.correctAnswerAudios[i] }}"></audio>
						<mat-icon class="playAudioButtonForC{{ i }}" (click)="playWordAudio($event)">volume_up</mat-icon>
						<div class="answer" style="color: green">{{ this.game.correctAnswersTranslate[i] }} - {{ answer }}</div>
					</div>
				</div>
				<div>incorrect answers: {{ this.game.incorrectAnswers.length }}</div>
				<div class="incorrect-answers" *ngFor="let answer of this.game.incorrectAnswers; let i = index">
					<div class="single-answer">
						<audio class="audioIn{{ i }}" src="https://dispet.github.io/rslang-data/{{ this.game.incorrectAnswerAudios[i] }}"></audio>
						<mat-icon class="playAudioButtonForIn{{ i }}" (click)="playWordAudio($event)">volume_up</mat-icon>
						<div class="answer" style="color: red">{{ this.game.incorrectAnswersTranslate[i] }} - {{ answer }}</div>
					</div>
				</div>
				<div class="close-modal">
					<button (click)="closeModal()">&times;</button>
				</div>
			</div>
		</div>
	</div>
</div>
