.home-page {
  min-height: 84%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  background-image: url("../../assets/icons/mainpage.svg");
  background-repeat: no-repeat;

  mat-list-item {
    height: auto;
  }

  .app-demostration {
    background-color: rgb(223, 223, 223);
  }
}
.example-card1 {
  max-width: 45%;
  margin: 1rem 0;
}
.example-card2 {
  max-width: 45%;
  margin: 1rem 0;
}
.example-card3 {
  max-width: 100%;
  margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
  .example-card2 {
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .example-card1 {
    max-width: 100%;
  }
  .home-page {
    background-image: none;
  }
}
