<mat-card>
  <mat-card-title>Видеообзор приложения</mat-card-title>
  <mat-card-content>
    <div class="app-demostration">
      Контейнер для видео
      <video src=""></video>
    </div>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-list>
  <h3 mat-subheader>Наше приложение это:</h3>
  <mat-list-item>
    - Электронный учебник, включающий в себя "Список слов" и "Словарь"
  </mat-list-item>
  <mat-list-item>
    - Интерактивные мини-игры для запоминания слов в игровой форме
  </mat-list-item>
  <mat-list-item>
    - Возможность отслеживания статистики и своих успехов в изучении английского
    языка
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
  <h3 mat-subheader>Почему именно наше приложение:</h3>
  <mat-list-item>
    - Добавляй слова в категорию "Сложные" и "Удаленные", чтобы одни всегда были
    под рукой, а другие не мешали изучать новые
  </mat-list-item>
  <mat-list-item>
    - Настраивай самостоятельно отображение информации об изучаемом слове в
    зависимости от своего уровня знаний
  </mat-list-item>
  <mat-list-item>- Определяй сам, с какими словами хочешь играть</mat-list-item>
  <mat-list-item>
    - Дружелюбный интерфейс не оставляет равнодушным ни одного изучающего язык
  </mat-list-item>
</mat-list>

<app-footer></app-footer>
