.controls {
  padding: 2rem;

  &-title {
    margin-left: 1rem;
  }

  .translation-subtitle,
  .buttons-subtitle {
    margin: 1rem;
  }

  .eslider-section {
    height: 3rem;
    margin-left: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .slider-margin {
    margin: 10px;
  }
}
